html {
    font-family: sans-serif;
    color: rgb(92, 92, 92);
    /* padding: 3px; */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
a {
    text-decoration: none;
    color: inherit;
}
body {
    position: relative;
    min-height: 100vh;
    max-height: 100vh;
}

.warning {
    color: rgb(219, 10, 10);
}
.wrong {
    border: 1px solid red !important;
}

.profile-error {
    border-radius: 5px;
    background: rgba(219, 10, 10, .3);
    text-align: center;
    padding: 5px;
    transition: opacity ease-in-out .25s;
}
button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0px 0px 1px rgb(92, 92, 92);
}

button:hover {
    background: rgba(179, 178, 178, 0.3);
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 23px;
}
.online {
    background: rgb(49, 177, 49);
}
.offline {
    background: rgb(150, 148, 148);
}

.success {
    background: rgba(49, 177, 49, .3);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    transition: opacity ease-in-out .25s;
}

.hide {
    opacity: 0;
}
/* Toggle Gamer List Button */

button.toggle-gamers {
    display: none;
    margin: 15px;
}
/* MAIN */

main {
    min-height: calc(100vh - 86.375px);
    width: 100%;
    padding: 0px 3px 45px 3px;
    /* padding-bottom: 30px; */
}

.homepage {
    height: 100%;
    display: flex;
    align-items: stretch;
}

/* GAMERS - LEFT SIDE  */

.gamers {
    flex: 1;
    box-shadow: 0px 0px 1px rgb(92, 92, 92);
    border-radius: 5px;
    max-width: 400px;
    max-height: 50vh;
    overflow: scroll;
    padding: 10px;
    overflow-x: scroll; 
    background: #FFF;
}

.gamers .follow-stats {
    display: flex;
    justify-content: flex-end;
}
.gamers .follow-stats h6:first-child {
    margin: 0 10px;
}
.gamers h6.following {
    text-align: right;
}
.gamer {
    display: flex;
    justify-content: space-between;
    background: rgba(179, 178, 178, 0.1);
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
}
.gamer:hover {
    background: rgba(179, 178, 178, 0.3);
}
.gamer p {
    overflow-x: scroll;
    flex: 2;
}


/* PROFILE SECTION */

.profile {
    margin: 0px 3px;
    flex: 2;
    box-shadow: 0px 0px 1px rgb(92, 92, 92);
    border-radius: 5px;
    padding: 10px;
}

.profile p {
    padding: 5px;
    margin: 5px;
}

/* Edit Profile */
.profile-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}
.profile-form input {
    margin: 0px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(19, 114, 138);
}

.profile-form .field {
    width: 70%;
    padding: 3px;
    border-radius: 5px;
    margin: 5px auto;
    background: rgba(219, 219, 219, .1);
}

.profile-form .field select {
    height: 40px;
}
.profile-form .field option {
    padding: 13px;
}
.profile-form .field > * {
    width: 100%;
}

label {
    display: block;
}


/* FOOTER  */

footer {
    color: #FFF;
    position: relative;
    height: 45px;
    padding: 15px;
    background: rgb(93, 164, 211);
    margin-top: -45px;
    border-radius: 5px;
    clear: both;

}
/* MEDIA QUERIES */

@media screen and (max-width: 720px){
    .gamer span, .gamers .follow-stats  {
        display: none;
    }
}

@media screen and (max-width: 400px){
    button.toggle-gamers {
        display: inline-block;
    }
    .gamers {
        position: absolute;
        z-index: 2;
        width: 300px;
        left: calc(0px - 304px);
        transition: left ease-in-out .25s;
    }

}

@media screen and (max-width: 600px){

    .profile-form {
        width: 90%;
    }
    .profile-form .field {
        width: 100%;
    }

}
